header-view {

  .content {

    top: 0;
    left: auto;
    right: auto;
    background: $colorButtonWhite;
    width: 100%;
    height: 26.5vh;
    padding-top: 2.4vh;

    .detail {
      position: absolute;
      background-image: url('../assets/images/header-view/ornament-header.svg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 24vw;
      width: 48.2vw;
      margin:auto;
      margin-left: 2.1vw;

    }

    .container-buttons{
      margin: auto;
      margin-top: 0.6vh;
      margin-right: 5.3vw;
      display: flex;

      .button-search {
        margin: inherit;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 6vw;
        height: 9.3vw;
        width: 9.3vw;

        background-image: url('../assets/images/header-view/icon-search.svg');
        background-repeat: no-repeat;
        background-size: inherit;
        background-position: 50%;

      }

      .image {
        // margin: auto;
        // margin-top: 0.6vh;
        // margin-right: 5.3vw;
        height: 9.3vw;
        width: 9.3vw;
        border-radius: 50%;
        box-shadow: 0 0 3px #888888;

        background-repeat: no-repeat;
        background-size: cover;

      }
    }

    .title {
      height: auto;
      width: 90%;
      margin:auto;
      margin-top: 2vh;
      white-space: inherit;

      span{
        color: $colorButtonBlack;
        font-family: "Gotham-Bold";
        font-size:8vw;
        line-height: 10.6vw;
        background: clear;
      }

      .regular-blue{
        font-size: 6.6vw;
        color: $colorBlue;
      }

    }

  }



}
