benefit-item-row {

  .content {
    margin-bottom: 1.5vh;
    background: white !important;
    border: 1px solid $colorLightestGrey;
  }

  .button {
    width: 30.6vw;
    height: 7.2vw;
    margin-bottom: 3vh;
    margin-left: 8vw;

    background: $colorButtonRed;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,0.14);
    border-radius: 2.59px;

    font-family: "Gotham-Bold";
    font-size: 3.73vw;
    color: white;

  }

}
