notification-item-row {

  .content {

    .image {
      margin-left: 2.1vw;
      margin-right: 1vw;
      height: 12vw;
      width: 12vw;
      border-radius: 50%;
      box-shadow: 0 0 3px #888888;

      background-repeat: no-repeat;
      background-size: cover;

    }

    ion-label .label-ios, .label-md, .label{
      margin-top: 7.4vw;
      margin-bottom: 7.4vw;
    }

    span {
      font-size: 3.5vw;
      color: $colorButtonBlack;
      font-family: "Gotham-Book";
      line-height: 4vw;

    }
    .bold {
      font-family: "Gotham-Bold";
      color: $colorDarkBlue;
    }
    .regular-grey{
      color: $colorTabInactive;
    }

    ion-button .button-inner, .button-ios, .button-md{

      span{
        font-size:2.66vw;
        color: white;
        font-family: "Gotham-Bold";
        line-height: normal;
        letter-spacing: 0.24px;
      }

      background: $colorDarkBlue;
      height: 2.7vh;
      width: 18.9vw;
      text-transform: none;
      border-radius: 1.1px;
      box-shadow: 0 1px 2px 1px rgba(0,0,0,0.20);

    }

  }

}
